## 5의 norm_wight_cate의 총계를 검사합니다.

### 이슈 : norn_weight_cate의 총합을 구하니 1이 아닌 값이 나오는 이상치가 존재한다.  
하지만 weight_cate를 unique한 uid개수로 나누면서 소수점이 생기고,이 소수점이 무제한 기록이 안되고, 거기에서 총합을 구하니 1의 값이 아닌 이상치가 존재하게 되는거다. 하지만 1에 아주 근접한 값이고, 소수점상의 오류이므로 이번은 넘어간다. 총계를 1로 만들고 싶으면..........(모름..)

In [1]:
# import modules
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from pandas.io import sql
import datetime
import pandas as pd
import pandasql as ps

In [2]:
# reading 
now = datetime.datetime.now() 
print('시작:', now)
five_all = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_allyear.txt', sep='\t')
five_by_year = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_by_year.txt', sep='\t')
now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-08 09:32:26.420294
종료: 2024-03-08 09:32:33.025107

In [9]:
check1= five_all.groupby(['cluster_id'])['norm_weight_cate'].sum().reset_index(name='sum_weight')

In [10]:
check1

      cluster_id  sum_weight
0              1         1.0
1              2         1.0
2              3         1.0
3              4         1.0
4              5         1.0
...          ...         ...
4210        4211         1.0
4211        4212         1.0
4212        4213         1.0
4213        4214         1.0
4214        4215         1.0

[4215 rows x 2 columns]

In [11]:
check2 = five_by_year.groupby(['cluster_id', 'pubyear'])['norm_weight_cate'].sum().reset_index(name='sum_weight')

In [12]:
check2

       cluster_id  pubyear  sum_weight
0               1     2006         1.0
1               1     2007         1.0
2               1     2008         1.0
3               1     2009         1.0
4               1     2010         1.0
...           ...      ...         ...
67377        4215     2017         1.0
67378        4215     2018         1.0
67379        4215     2019         1.0
67380        4215     2020         1.0
67381        4215     2021         1.0

[67382 rows x 3 columns]

In [15]:
check1.to_excel('./check/five_all.xlsx', index=False)
check2.to_excel('./check/five_by_year.xlsx', index=False)

In [13]:
# 컬럼에 포함된 고유한 값들과 그 빈도수를 확인
unique_values_counts_sum_weight1 = check1['sum_weight'].value_counts()
print(unique_values_counts_sum_weight1)

sum_weight
1.000000    127
1.000000    125
1.000000    122
1.000000    116
1.000000    111
           ...
1.000100      1
1.000104      1
1.000124      1
1.000412      1
1.005882      1
Name: count, Length: 249, dtype: int64

In [14]:
#컬럼에 포함된 고유한 값들과 그 빈도수를 확인
unique_values_counts_sum_weight2 = check2['sum_weight'].value_counts()
print(unique_values_counts_sum_weight2)

sum_weight
1.000000    2860
1.000000    2761
1.000000    2615
1.000000    2582
1.000000    2490
            ...
1.001592       1
1.001148       1
1.001304       1
1.001125       1
1.111111       1
Name: count, Length: 266, dtype: int64

sum_weight가 1이 아닌 것만 추출해서 따로 저장

pandas df를 이용할건데, sum_weight의 data type은 float64이고, 1.0이 목표하는 값이야. 근데 중간에 1.0이 아닌 값들이 간혹 보여. 근데 1.0에 매우 가까운 수야. 1.00004846604953같이. 따라서 이런 불순물들을 따로 모아서 체크용 엑셀파일을 만들고자해. 코드를 짜줘. 단, 저런 1.0과 매우 가까운 값들이 불순물 취급을 당해야해.

In [23]:
import openpyxl

In [40]:
df = check1

In [45]:
# 1.0과 정확히 일치하지 않는 값 필터링
filtered_df = df[df['sum_weight'] != 1.0]

# 필터링된 데이터를 Excel 파일로 저장
filtered_df.to_excel('./check/non_1_values.xlsx', index=False)

In [3]:
five_all

,cluster_id,subject_traditional,weight_cate,norm_weight_cate
0,1,Acoustics,0.333333,0.000006
1,1,Agricultural Economics & Policy,0.000000,0.000000
2,1,Agricultural Engineering,0.000000,0.000000
3,1,"Agriculture, Dairy & Animal Science",0.000000,0.000000
4,1,"Agriculture, Multidisciplinary",0.000000,0.000000
...,...,...,...,...
1070605,4215,Veterinary Sciences,0.000000,0.000000
1070606,4215,Virology,0.000000,0.000000
1070607,4215,Water Resources,0.000000,0.000000
1070608,4215,Women's Studies,0.000000,0.000000
1070609,4215,Zoology,0.000000,0.000000

In [4]:
# reading 
now = datetime.datetime.now() 
print('시작:', now)
five_all_wide = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_allyear_wide.txt', sep='\t')
five_byyear_wide = pd.read_csv('./final/five/cluster_cate_weight_publevel/five_by_year_wide.txt', sep='\t')
now = datetime.datetime.now()
print('종료:', now)

시작: 2024-03-08 09:33:19.240991
종료: 2024-03-08 09:33:20.404253

In [5]:
five_all_wide

,cluster_id,pubyear,Acoustics,Agricultural Economics & Policy,Agricultural Engineering,"Agriculture, Dairy & Animal Science","Agriculture, Multidisciplinary",Agronomy,Allergy,Anatomy & Morphology,...,Transportation,Transportation Science & Technology,Tropical Medicine,Urban Studies,Urology & Nephrology,Veterinary Sciences,Virology,Water Resources,Women's Studies,Zoology
0,1,all,0.000006,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000123,0.000000,0.000000
1,2,all,0.000013,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,all,0.000042,0.00000,0.000000,0.000308,0.000037,0.000000,0.002715,0.000173,...,0.000028,0.000014,0.004421,0.000056,0.010188,0.003936,0.075394,0.000085,0.000091,0.000896
3,4,all,0.001288,0.00000,0.000008,0.000000,0.000023,0.000000,0.000000,0.000011,...,0.000000,0.000011,0.000000,0.000000,0.000000,0.000000,0.000008,0.000285,0.000000,0.000000
4,5,all,0.000000,0.00261,0.000010,0.000076,0.000954,0.000303,0.000000,0.000000,...,0.000724,0.000264,0.000000,0.000374,0.000000,0.000061,0.000000,0.000131,0.000050,0.000030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4210,4211,all,0.000000,0.00000,0.000000,0.000000,0.005848,0.001462,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014620,0.000000,0.000000
4211,4212,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.007282,0.000000,0.000000,0.000000,0.000000,0.002427
4212,4213,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4213,4214,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4214,4215,all,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [7]:
five_byyear_wide

,cluster_id,pubyear,Acoustics,Agricultural Economics & Policy,Agricultural Engineering,"Agriculture, Dairy & Animal Science","Agriculture, Multidisciplinary",Agronomy,Allergy,Anatomy & Morphology,...,Transportation,Transportation Science & Technology,Tropical Medicine,Urban Studies,Urology & Nephrology,Veterinary Sciences,Virology,Water Resources,Women's Studies,Zoology
0,1,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000129,0.0,0.0
1,1,2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000308,0.0,0.0
2,1,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000368,0.0,0.0
3,1,2009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,1,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000125,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67377,4215,2017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67378,4215,2018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67379,4215,2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67380,4215,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
67381,4215,2021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [9]:
#sorted_second_result3
# 각 컬럼별 null 값의 개수 계산
null_counts1 = five_all.isnull().sum()
null_counts2 = five_all_wide.isnull().sum()
null_counts3 = five_by_year.isnull().sum()
null_counts4 = five_byyear_wide.isnull().sum()
# 결과 출력
print('five_all')
print(null_counts1)
print('five_all_wide')
print(null_counts2)
print('five_by_year')
print(null_counts3)
print('five_by_year_wide')
print(null_counts4)

five_all
cluster_id             0
subject_traditional    0
weight_cate            0
norm_weight_cate       0
dtype: int64
five_all_wide
cluster_id                         0
pubyear                            0
Acoustics                          0
Agricultural Economics & Policy    0
Agricultural Engineering           0
                                  ..
Veterinary Sciences                0
Virology                           0
Water Resources                    0
Women's Studies                    0
Zoology                            0
Length: 256, dtype: int64
five_by_year
cluster_id             0
pubyear                0
subject_traditional    0
weight_cate            0
norm_weight_cate       0
dtype: int64
five_by_year_wide
cluster_id                         0
pubyear                            0
Acoustics                          0
Agricultural Economics & Policy    0
Agricultural Engineering           0
                                  ..
Veterinary Sciences                0
Virology                           0
Water Resources                    0
Women's Studies                    0
Zoology                            0
Length: 256, dtype: int64

In [ ]:
five_all
five_all_wide
five_by_year
five_byyear_wide