In [1]:
# import modules
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from pandas.io import sql
import datetime
import pandas as pd

In [5]:
# 'ut' 열의 데이터 타입 확인
data_type = df_loaded['ut'].dtype

print(f"'ut' 열의 데이터 타입: {data_type}")

'ut' 열의 데이터 타입: int64

In [6]:
# Loading a TXT file with a tab separator
df_loaded = pd.read_csv('./backup/pubs_with_micro_level_field_assignment.txt', sep='\t', dtype={'ut': str})

df_loaded

                       ut  cluster_id  core
0         000202894100002          64     1
1         000202894100003         230     1
2         000202894100004         783     1
3         000202894100005        1692     1
4         000202894100006          64     1
...                   ...         ...   ...
24344006  000951303100001        1972     1
24344007  000951303400001         198     1
24344008  000951775800001         995     1
24344009  000951799500001         679     1
24344010  000951888900001         360     1

[24344011 rows x 3 columns]

In [7]:
df_loaded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24344011 entries, 0 to 24344010
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   ut          object
 1   cluster_id  int64
 2   core        int64
dtypes: int64(2), object(1)
memory usage: 557.2+ MB

In [8]:
now = datetime.datetime.now() 
print('시작:', now)

df_loaded['ut_to_uid'] = 'WOS:' + df_loaded['ut'].astype(str)

now = datetime.datetime.now()
print('종료:', now)

시작: 2024-02-15 14:21:47.318525
종료: 2024-02-15 14:21:49.140933

In [10]:
df_loaded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24344011 entries, 0 to 24344010
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   ut          object
 1   cluster_id  int64
 2   core        int64
 3   ut_to_uid   object
dtypes: int64(2), object(2)
memory usage: 742.9+ MB

In [11]:
# Saving a DataFrame to a TXT file with a tab separator
#df.to_csv('my_dataframe.txt', sep='\t', index=False)
df_loaded

                       ut  cluster_id  core            ut_to_uid
0         000202894100002          64     1  WOS:000202894100002
1         000202894100003         230     1  WOS:000202894100003
2         000202894100004         783     1  WOS:000202894100004
3         000202894100005        1692     1  WOS:000202894100005
4         000202894100006          64     1  WOS:000202894100006
...                   ...         ...   ...                  ...
24344006  000951303100001        1972     1  WOS:000951303100001
24344007  000951303400001         198     1  WOS:000951303400001
24344008  000951775800001         995     1  WOS:000951775800001
24344009  000951799500001         679     1  WOS:000951799500001
24344010  000951888900001         360     1  WOS:000951888900001

[24344011 rows x 4 columns]

In [12]:
# Saving a DataFrame to a TXT file with a tab separator
df_loaded.to_csv('./dict/new_pubs_with_micro_level_field_assignment.txt', sep='\t', index=False)

## is_core.pkl 만들기

In [ ]:
# reading 
now = datetime.datetime.now() 
print('시작:', now)
df  =  pd.read_csv('./dict/new_pubs_with_micro_level_field_assignment.txt', sep='\t')
now = datetime.datetime.now()
print('종료:', now)

In [ ]:
df

In [ ]:
# Query
q1 = """
SELECT *
FROM df
WHERE core = '1'
;
"""

now = datetime.datetime.now() 
print('시작:', now)

 
# pandasql을 사용하여 쿼리 실행
is_core = ps.sqldf(q1)

# Save DataFrame to txt
is_core.to_csv('./mid/is_core.txt', sep='\t', index=False)

now = datetime.datetime.now()
print('종료:', now)

In [ ]:
is_core.info()

In [ ]:
# 'core' 컬럼이 모두 1인지 확인
all_cores_are_one = is_core['core'].eq(1).all()
print(all_cores_are_one)

True

In [ ]:
# 'ut_to_uid' 컬럼의 모든 데이터를 set으로 변환
ut_to_uid_is_core_set = set(is_core['ut_to_uid'])
#print(f"ut_to_uid 컬럼 데이터의 set: {ut_to_uid_is_core_set}")
print(f"ut_to_uid 컬럼 데이터의 set 크기: {len(ut_to_uid_is_core_set)}")

ut_to_uid 컬럼 데이터의 set 크기: 22379399

set 데이터 저장 후 로드 잘되는지 체크

In [ ]:
import pickle

# set 데이터를 pickle 파일로 저장
with open('./mid/ut_to_uid_is_core_set.pkl', 'wb') as file:
    pickle.dump(ut_to_uid_is_core_set, file)

In [ ]:
# pickle 파일로부터 set 데이터 불러오기
with open('./mid/ut_to_uid_is_core_set.pkl', 'rb') as file:
    loaded_ut_ut_to_uid_is_core_set = pickle.load(file)

#print(loaded_ut_ut_to_uid_is_core_set)
print(f"ut_to_uid 컬럼 데이터의 set 크기: {len(loaded_ut_ut_to_uid_is_core_set)}")

ut_to_uid 컬럼 데이터의 set 크기: 22379399